.header{
    display:flex; 
    align-items: center;
    justify-content:space-between ;
    border-bottom:1px solid white;
 
 }
 .header_left{
    display:flex; 
    align-items: center;
    justify-content:space-between ;

 }
 .header_right svg{
    font-size: 18px;
 }
 .header_middle{
    display:flex; 
    align-items: center;
    justify-content:space-between ;
    border-bottom:1px solid white;
 
 
 }
 .header_middleleft{
    display:flex; 
    align-items: center;
 
 }
 .header_middleright svg{
 
 font-size: 18px;
 }
 .header_middleleft h4{
    margin-left:10px
 }
 .header_middleleft p{
    font-size: 14px;
 
 
 }
 .header_middlelright p{
    font-size: 14px;
 
 
 }
 .email_details{
    display: flex;
    padding:0px 10px;
 }
  .box_shadow{
   box-shadow: 0px  0px 3px #ccc;
   height: 90%;
  }